# Manipulação e Agregação de Dados - Exercícios

Resolva os exercícios propostos abaixo. Os exercícios usam um dataset de reclamações registradas por cidadãos. O detaset foi derivado de dados do [Portal de Dados Abertos da Prefeitura de Curitiba](https://www.curitiba.pr.gov.br/DADOSABERTOS/).

## Leitura e análise inicial dos dados

Inicie um DataFrame a partir do arquivo `2017-02-01_156_-_Base_de_Dados_sample.csv`. 

**Dica:** Caso o arquivo não seja separado por vírgulas, o Pandas não conseguirá reconhecer os campos adequadamente. Você precisará fornecer o parâmetro `sep=';'` para indicar o separador correto (neste caso, o `;`).

**Dica:** Aplicativos modernos tendem a armazenar arquivos no formato UTF-8, mas é comum encontrar arquivos codificados em outros formatos. Caso você tenha problemas para ler o arquivo, utilize o parâmetro `encoding='latin-1'` para selecionar o encoding correto (*latin-1* neste exemplo).

In [1]:
#importação de bibliotecas
import pandas as pd


# lê o arquivo CSV
df = pd.read_csv('../data/2017-02-01_156_-_Base_de_Dados_sample.csv', sep=';', encoding='latin-1')

Visualize algumas linhas de dados:

In [2]:
df.head(10)

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
0,6669771,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"ANDRE DE BARROS, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Abordagem realizada. Pessoa foi orientada quan...
1,6718351,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,PERDIDA/DESORIENTADA,ABORDAGEM SOCIAL DE RUA - ADULTO - PERDIDA/DES...,"NILO CAIRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,"NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL, RELATA E...",M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,6702371,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,ALCOOLIZADAS/DROGADAS,ABORDAGEM SOCIAL DE RUA - CRIANÇA - ALCOOLIZAD...,"VISCONDE DE NACAR, 1210",CENTRO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,6718692,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NaN,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já foi abordada nesta ...
4,6704503,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,M,NaN,NaN,04/06/1997,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...
5,6672832,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,12/11/2016,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"XV DE NOVEMBRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO INFORMOU NUMERAÇÃO PREDIAL.,M,NaN,NaN,29/12/1971,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...
6,6712943,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,17/12/2016,16:06:04,TRÂNSITO,VEÍCULO ESTACIONADO - GUIA REBAIXADA,TRÂNSITO - VEÍCULO ESTACIONADO - GUIA REBAIXADA,"CRUZ MACHADO, 396",CENTRO,Unidade Regional Matriz,TELEFONE,NaN,M,NaN,NaN,NaN,CIDADÃO,SECRETARIA MUNICIPAL DE TRÂNSITO,Informamos que o atendimento aos pedidos para ...
7,6733811,INFORMAÇÃO,SECRETARIA MUNICIPAL DA SAÚDE,11/01/2017,12:11:12,CRM-AF/SMS,RECURSOS MATERIAIS - MEDICAMENTOS,CRM-AF/SMS - RECURSOS MATERIAIS - MEDICAMENTOS,"JAIME REIS, 331",SAO FRANCISCO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,04/08/1957,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,Alendronato de sódio 70 mg e Carbonato de cálc...
8,6710218,INFORMAÇÃO,SECRETARIA MUNICIPAL DA SAÚDE,14/12/2016,10:19:29,CRM-AF/SMS,RECURSOS MATERIAIS - MEDICAMENTOS,CRM-AF/SMS - RECURSOS MATERIAIS - MEDICAMENTOS,"JAIME REIS, 331",SAO FRANCISCO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,18/08/1938,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...
9,6701219,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,06/12/2016,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"BARAO DO RIO BRANCO, 720",CENTRO,Unidade Regional Matriz,NENHUM,HOMEM USA CAMISA PRETA CALÇA JEANS E TÊNIS BRA...,M,NaN,NaN,13/02/1980,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."

Use o método `df.describe(include="all")` para exibir informações sobre as colunas.

In [3]:
df.describe(include="all")

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
count,7.013000e+03,7013,7013,7013,7013,7013,7013,7013,7013,7013,7011,7013,3786,7013,6897,6757,6889,7013,7013,7010
unique,NaN,7,5,92,6438,148,388,482,5612,75,10,4,2585,2,172,10,5398,1,23,3154
top,NaN,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,05/12/2016,12:22:33,COLETA,MANUTENÇÃO DE LUMINÁRIAS,ILUMINAÇÃO PÚBLICA - MANUTENÇÃO DE LUMINÁRIAS,"PRESIDENTE AFFONSO CAMARGO, 330",CENTRO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,F,CIDADE INDUSTRIAL,Unidade Regional Boa Vista,22/06/1962,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
freq,NaN,5812,6649,163,4,1633,969,969,39,436,1572,3750,88,3613,483,1130,73,7013,2121,1334
mean,6.702377e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.668504e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.659367e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.680119e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6.700369e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,6.722191e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.763349e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Crie um novo DataFrame chamado `df_elogios` contendo apenas as linhas cujos valores na culuna `TIPO` são iguais a 'ELOGIO'. Este DataFrame deve ter as colunas TIPO, ASSUNTO, e BAIRRO_CIDADAO.

In [4]:
df_elogios = df[(df['TIPO'] == 'ELOGIO')]

df_elogios =  df_elogios[['TIPO', 'ASSUNTO', 'BAIRRO_CIDADAO']]

df_elogios

        TIPO                             ASSUNTO              BAIRRO_CIDADAO
124   ELOGIO                              COLETA                       BATEL
457   ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS               SANTA CANDIDA
573   ELOGIO                       OUVIDORIA SMS              ALTO DA GLORIA
981   ELOGIO                SINALIZAÇÃO VERTICAL                   BACACHERI
1023  ELOGIO                      POSTO DE SAÚDE                 BAIRRO ALTO
...      ...                                 ...                         ...
6700  ELOGIO                      POSTO DE SAÚDE           CIDADE INDUSTRIAL
6759  ELOGIO                  ESPORTE ESTUDANTIL                     UBERABA
6897  ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS                      NACOES
6944  ELOGIO       UNIDADE DE PRONTO ATENDIMENTO              JARDIM GUARUJA
7001  ELOGIO  MOTORISTAS, COBRADORES E PORTEIROS  NUCLEO COLONIAL DE PINHAIS

[99 rows x 3 columns]

Quais são os 5 bairros com mais elogios? Agrupe pelo `BAIRRO_CIDADAO` e ordene o resultado para responder.

In [5]:
df_elogios.groupby('BAIRRO_CIDADAO').size().reset_index(name='count').sort_values('count', ascending = False).head(5)

       BAIRRO_CIDADAO  count
33      SITIO CERCADO     12
17  CIDADE INDUSTRIAL     12
11             CAJURU     11
8           BOQUEIRAO      6
4         BAIRRO ALTO      5

Crie dois novos DataFrames, um contendo a as linhas de reclamações de pessoas do sexo masculino e outra do sexo feminino. Use estes DataFrames para responder:

Qual é a proporção de reclamações entre homens e mulhores? (total de reclamações de homens dividido pelo total de reclamações de mulheres)

In [6]:
df_M = df[df['SEXO'] == 'M']

df_F = df[df['SEXO'] == 'F']

print("Proporção: ", len(df_M)/len(df_F))

Proporção:  0.941046221976197

Concatene os dois DataFrames criados acima para criar um DataFrame chamado `df_todos`. Verifique se este DataFrame tem o mesmo núimero de linhas do DataFrame lido do CSV.

In [7]:
df_todos = pd.concat([df_M, df_F])

print(len(df_todos), len(df))

7013 7013

Crie um novo DataFrame chamado `df_sexo` contendo a contagem de reclamações para cada sexo. A coluna com a contagem deve se chamar `contagem`.

In [8]:
df_sexo = df.groupby('SEXO').size().reset_index(name='contagem')

df_sexo

  SEXO  contagem
0    F      3613
1    M      3400

Crie um novo DataFrame chamado `df_sexo_tipo` contendo a contagem de reclamações para cada sexo e tipo. A coluna com a contagem deve se chamar `total`.

In [9]:
df_sexo_tipo = df.groupby(['SEXO', 'TIPO']).size().reset_index(name='total')

df_sexo_tipo

   SEXO         TIPO  total
0     F     DENÚNCIA     31
1     F       ELOGIO     65
2     F   INFORMAÇÃO     25
3     F   RECADASTRO     79
4     F   RECLAMAÇÃO    555
5     F  SOLICITAÇÃO   2851
6     F     SUGESTÃO      7
7     M     DENÚNCIA     13
8     M       ELOGIO     34
9     M   INFORMAÇÃO     11
10    M   RECADASTRO     91
11    M   RECLAMAÇÃO    282
12    M  SOLICITAÇÃO   2961
13    M     SUGESTÃO      8

Faça uma junção dos DataFrames `df_sexo, df_sexo_tipo` para criar um novo DataFrame chamado `df_juncao` contendo as contagens por sexo e também por sexo/tipo.

In [10]:
df_juncao = pd.merge(df_sexo, df_sexo_tipo)

df_juncao

   SEXO  contagem         TIPO  total
0     F      3613     DENÚNCIA     31
1     F      3613       ELOGIO     65
2     F      3613   INFORMAÇÃO     25
3     F      3613   RECADASTRO     79
4     F      3613   RECLAMAÇÃO    555
5     F      3613  SOLICITAÇÃO   2851
6     F      3613     SUGESTÃO      7
7     M      3400     DENÚNCIA     13
8     M      3400       ELOGIO     34
9     M      3400   INFORMAÇÃO     11
10    M      3400   RECADASTRO     91
11    M      3400   RECLAMAÇÃO    282
12    M      3400  SOLICITAÇÃO   2961
13    M      3400     SUGESTÃO      8

Crie uma nova coluna no DataFrame `df_juncao` chamada `proporcao` contendo a porcentagem de homens e mulheres que fizeram cada tipo de reclamação. Responda: qual sexo faz mais elogios? Qual faz mais solicitações? Qual faz mais reclamações?

In [11]:
df_juncao['proporcao'] = (df_juncao['total']/df_juncao['contagem'])*100

df_juncao

   SEXO  contagem         TIPO  total  proporcao
0     F      3613     DENÚNCIA     31   0.858013
1     F      3613       ELOGIO     65   1.799059
2     F      3613   INFORMAÇÃO     25   0.691946
3     F      3613   RECADASTRO     79   2.186549
4     F      3613   RECLAMAÇÃO    555  15.361196
5     F      3613  SOLICITAÇÃO   2851  78.909493
6     F      3613     SUGESTÃO      7   0.193745
7     M      3400     DENÚNCIA     13   0.382353
8     M      3400       ELOGIO     34   1.000000
9     M      3400   INFORMAÇÃO     11   0.323529
10    M      3400   RECADASTRO     91   2.676471
11    M      3400   RECLAMAÇÃO    282   8.294118
12    M      3400  SOLICITAÇÃO   2961  87.088235
13    M      3400     SUGESTÃO      8   0.235294